<% form_for(@component_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label 'Name' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit %Q{#@str} %>
  </p>
<% end %>

<%= link_to t('edit.back'), component_categories_path %>
