<% form_for(@component) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>
        <p>
          <%= f.label t('name') %><br />
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label t('remark') %><br />
          <%= f.text_field :remark %>
        </p>
        <p>
          <%= f.label t('.category') %><br />
          <%= select( :component, :component_category_id, ComponentCategory.find(:all, :order => 'name').collect{ |c| [c.name, c.id] } ) %>
        </p>
        <p>
          <%= f.label t('.housing') %><br />
          <%= select( :component, :component_housing_id, ComponentHousing.find(:all, :order => 'name').collect{ |c| [c.name, c.id] } ) %>
        </p>
        <p>
          <%= f.submit %Q{#@str} %>
        </p>
        <% if @component.count %>
          <p <%= val_color(@component.count) %> >
            <%= t '.stock' %><%= @component.count %>
          </p>
        <% end %>
      </td>

      <td>
        <% for p in @component.photos %>
          <%= image_tag( url_for( :action => "image", :id => p ), :alt => p.name, :size => p.geometry(150, 150) ) %>
        <% end %>

        <% for b in @component.blobs %>
          <p><%= link_to b.name, url_for( :action => "blob", :id => b ) %></p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <% if @kicad_components %>
          <b><%= t '.all_kicad' %></b>
          <%= render :partial => 'kicad_components/index' %>
        <% end %>

        <% if @prizes %>
          <br />
          <b><%= t '.all_prizes' %></b>
          <%= render :partial => 'prizes/index' %>
        <% end %>

        <% if @project_components %>
          <br />
          <b><%= t '.all_projects' %></b>
          <%= render :partial => 'project_components/index' %>
        <% end %>

        <p>
          <%= link_to t('edit.back'), components_path %>
          <%= link_to t('kicad_components.new.title'), new_component_kicad_component_path(@component) %>
          <%= link_to t('.new_prize'), new_component_prize_path(@component) %>
          <%= link_to t('.stock_path'), new_component_stock_path(@component) %>
          <%= link_to t('photos.new.title'), new_component_components_photo_path(@component) %>
          <%= link_to t('blobs.new.title'), new_component_blobs_component_path(@component) %>
        </p>
      </td>
    </tr>
  </table>
<% end %>
