<% form_for(@component) do |f| %>
  <%= f.error_messages %>

  <table>
    <tr>
      <td>
        <p>
          <%= f.label t('name') %><br />
          <%= f.text_field :name %>
        </p>
        <p>
          <%= f.label t('remark') %><br />
          <%= f.text_field :remark %>
        </p>
        <p>
          <%= f.label t('.category') %><br />
          <%= select( :component, :component_category_id, ComponentCategory.find(:all, :order => 'name').collect{ |c| [c.name, c.id] } ) %>
        </p>
        <p>
          <%= f.label t('.housing') %><br />
          <%= select( :component, :component_housing_id, ComponentHousing.find(:all, :order => 'name').collect{ |c| [c.name, c.id] } ) %>
        </p>
        <p>
          <%= f.submit %Q{#@str} %>
        </p>
        <% if @component.count %>
          <p <%= val_color(@component.count) %> >
            <%= t '.stock' %><%= @component.count %>
          </p>
        <% end %>
      </td>

      <td>
        <% for p in @component.photos %>
          <%= image_tag( url_for( :action => "image", :id => p ), :alt => p.name, :size => p.geometry(150, 150) ) %>
        <% end %>

        <% for b in @component.blobs %>
          <p>
            <%= link_to b.name, url_for( :action => "blob", :id => b ) %>
          </p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <% if @kicad_components %>
          <b><%= t '.all_kicad' %></b>
          <table>
            <tr>
              <td><%= t 'name' %></td>
              <td><%= t '.housing' %></td>
            </tr>

            <% for kc in @kicad_components %>
              <tr>
                <td><%= link_to kc.name, edit_kicad_component_path(kc) %></td>
                <td><%= link_to kc.kicad_housing.name, edit_kicad_housing_path(kc.kicad_housing) %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

        <% if @prizes %>
          <br />
          <b><%= t '.all_prizes' %></b>
          <table>
            <tr>
              <td><%= t '.prize' %></td>
              <td><%= t '.count' %></td>
              <td><%= t '.order' %></td>
              <td><%= t '.supplier' %></td>
              <td><%= t '.begin' %></td>
              <td><%= t '.end' %></td>
            </tr>

            <% for p in @prizes %>
              <tr>
                <td><%= link_to number_to_currency( p.value ), edit_component_prize_path(p.component, p) %></td>
                <td><%=h p.quantity %></td>
                <td>
                  <% if order_state(p.order) %>
                    <%= link_to order_edit_text(p.order) , edit_prize_order_path(p, p.order) %>
                  <% else %>
                    <%= link_to t( '.new_order' ), new_prize_order_path(p) %>
                  <% end %>
                </td>
                <td><%= link_to p.supplier.name, edit_supplier_path(p.supplier) %></td>
                <td><%= l p.begin %></td>
                <td><%= l p.end %></td>
                <td></td>
              </tr>
            <% end %>
          </table>
        <% end %>

        <% if @project_components %>
          <br />
          <b><%= t '.all_projects' %></b>
          <table>
            <tr>
              <td><%= t '.project' %></td>
              <td><%= t '.count' %></td>
            </tr>

            <% for p in @project_components %>
              <tr>
                <td><%= link_to p.project.name, edit_project_path(p.project) %></td>
                <td><%=h p.count %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

        <p>
          <%= link_to t('edit.back'), components_path %>
          <%= link_to t('.new_kicad_component'), new_component_kicad_component_path(@component) %>
          <%= link_to t('.new_prize'), new_component_prize_path(@component) %>
          <%= link_to t('.stock_path'), new_component_stock_path(@component) %>
          <%= link_to t('.new_photo'), new_component_components_photo_path(@component) %>
          <%= link_to t('.new_blob'), new_component_blobs_component_path(@component) %>
        </p>
      </td>
    </tr>
  </table>
<% end %>
