<table border="0" cellpadding="1">
  <tr align="left">
    <th><%= order( @search, :by => :name, :as => t('name') ) %></th>
    <th><%= t 'remark' %></th>
    <th><%= order( @search, :by => :component_housing_name, :as => t('.housing') ) %></th>
    <th><%= order( @search, :by => :component_category_name, :as => t('components.index.category') ) %></th>
    <th><%= t '.stock' %></th>
    <th><%= t '.order' %></th>
  </tr>

  <% for c in @components %>
    <tr>
      <td><%= link_to c.name, edit_component_path(c) %></td>
      <td><%=h c.remark %></td>
      <td><%=h c.component_housing.name %></td>
      <td><%=h c.component_category.name %></td>
      <td><%= val_color_tab(c.count) %><%=h c.count %></td>
      <td>
        <% if c.order %>
          <%= order_edit_text(c.order) %></td>
        <% end %>
    </tr>
  <% end %>
</table>

<%= will_paginate @components, :prev_label => t('previous'), :next_label => t('next'),
									:params => { :search => @search.conditions } %>
