<h3><%= t '.title' %></h3>

<% form_for @search do |s| %>
  <%= s.text_field :name_contains, :size => 10 %>
  <div id="results">
    <%= render :partial => 'index' %> 
  </div>
  <br />
  <%= link_to t('components.new.title'), new_component_path %>
<% end %>

<%= observe_field :search_name_contains,
                  :frequency => 1,
                  :update => 'results',
                  :url => { :controller => 'components', :action => '_index' },
                  :with => "'search=' + escape(value)" %>
