<h3><%= t '.title' %><%= @my %></h3>

<%= text_field :search, :name_contains, :size => 10 %>
<div id="results">
  <%= render :partial => 'index' %> 
</div>
<br />
<%= link_to t('projects.index.new_project'), new_project_path %>

<%= observe_field 'search_name_contains',
                  :frequency => 0.5,
                  :update => 'results',
                  :url => { :controller => 'projects', :action => '_index' },
                  :with => "'search=' + escape(value)" %>
