<h3><%= t '.title' %></h3>

<p><%= link_to t('.housings'), component_housings_path %></p>
<p><%= link_to t('.kicad_components'), kicad_components_path %></p>
<p><%= link_to t('.kicad_housings'), kicad_housings_path %></p>
<p><%= link_to t('.component_categories'), component_categories_path %></p>
<p><%= link_to t('.order_states'), order_states_path %></p>
<p><%= link_to t('.project_states'), project_states_path %></p>
