<h3><%= t '.title' %></h3>

<p><%= link_to t('component_housings.index.title'), component_housings_path %></p>
<p><%= link_to t('kicad_components.index.title'), kicad_components_path %></p>
<p><%= link_to t('kicad_housings.index.title'), kicad_housings_path %></p>
<p><%= link_to t('component_categories.index.title'), component_categories_path %></p>
<p><%= link_to t('order_states.index.title'), order_states_path %></p>
<p><%= link_to t('project_states.index.title'), project_states_path %></p>
<p><%= link_to t('project_components.index.title'), project_components_path %></p>
<p><%= link_to t('components_photos.index.title'), components_photos_path %></p>
