<h3><%= t '.title' %></h3>

<table>
  <tr>
    <th><%= t '.component' %></th>
    <th><%= t '.prize' %></th>
    <th><%= t '.count' %></th>
    <th><%= t '.supplier' %></th>
    <th><%= t '.begin' %></th>
    <th><%= t '.end' %></th>
  </tr>

  <% for p in @prizes %>
    <tr>
      <td><%= link_to p.component.name, edit_component_path(p.component) %></td>
      <td><%= link_to number_to_currency( p.value ), edit_component_prize_path(p.component, p) %></td>
      <td><%=h p.quantity %></td>
      <td><%= link_to p.supplier.name, edit_supplier_path(p.supplier) %></td>
      <td><%= l p.begin %></td>
      <td><%= l p.end %></td>
    </tr>
  <% end %>
</table>
