<h3><%= t '.title' %></h3>

<table>
  <tr>
    <th><%= t 'name' %></th>
    <th><%= t '.url' %></th>
  </tr>

  <% for s in @suppliers %>
    <tr>
      <td><%= link_to s.name, edit_supplier_path(s) %></td>
      <td><%= link_to s.url, s.url %></td>
    </tr>
  <% end %>
</table>

<%= link_to t('.new_supplier'), new_supplier_path %>
